.user-menu{
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  margin: 5px 0;
  &__link{
    flex: 0 1 100%;
    color: #000;
    padding: 8px 0 ;
    text-align: center;
    display: inline-block;
    font-family: SemiBold;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    &:first-child{
      border-right: 1px solid #e9eaeb;
    }
    &:hover{
      color: #db8d21;
      text-decoration: none;
    }
  }
}